@font-face {
  font-family: "SF-Pro-Text";
  src: local("SF-Pro-Text"),
    url(./fonts/FontsFree-Net-SFProText-Regular.ttf) format("truetype");
}

.App {
  text-align: center;
}
.container {
  position: relative;
}
.container-w50 {
  position: relative;
  width: 50%;
}
.lefted {
  position: absolute;
  top: 5%;
  left: 25%;
}
.righted {
  position: absolute;
  top: 5%;
  left: 25%;
}
.app_main_image_flex {
  width: 558px;
  height: 341px;
  margin-top: 300px;
}
.lefted-v {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 60%;
}
.righted-v {
  position: absolute;
  top: 65%;
  left: 35%;
  width: 40%;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.app_main_image {
  width: 100%;
  height: 624px;
  background-repeat: no-repeat;
}
.centered {
  position: absolute;
  top: 25%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.menu {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.flex-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  width: 50%;
  margin: auto;
}
.menu > div > div {
  color: azure;
  margin-left: 50px;
}

.cta-links {
  color: #06c;
  letter-spacing: inherit;
}
.cta-links > a {
  text-decoration: none;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.cta-links > a:hover {
  text-decoration: underline;
}
/*
para los logos
*/
.logoRedes {
  width: 60px;
  height: 60px;
  margin: 10px;
}
.texto {
  margin: 10px 350px;
  text-align: justify;
  font-size: 20px;
  font-weight: lighter;
  font-family: sans-serif;
}
.flexBox {
  color: #86868b;
  display: flex;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-around;
  text-align: left;
}
.flexBox > div > ul {
  list-style: none;
}
.flexBox > div > ul > li {
  margin-top: 20px;
}
.flexBox > div > h2 {
  color: black;
  font-size: 12px;
  text-align: left;
}
.footer {
  width: 70%;
  margin: auto;
  font-size: 12px;
}
.footer > ul {
  list-style: decimal;
  text-align: justify;
  color: #86868b;
}
